
/* nav bar section start */

.menu-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(216, 227, 236);
    padding: 50px 0px;
    
} 

.logo1{
    height: 10px;
}

.logo{
    width:120px;
}

nav >ul {
      display: flex;
      padding-right: 50px;
}

nav ul li{
    list-style: none;
    margin-right: 10px;
}

nav ul a{
     text-decoration: none;
}



/* navbar section end */
 

/* banner section start*/


.banner-container{
height: 100vh;
background-image: url("./team-young-specialist-doctors-standing-corridor-hospital.jpg"),
linear-gradient(rgb(161, 145, 145), rgb(206, 206, 206) );
background-blend-mode: overlay;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
margin: 30px 0px 0px;


}

.banner-title{
    font-size: 5rem;
    color: rgb(12, 0, 0);

}

.text-one{
    color: red;
}

.text-three{
    font-size:3rem;
    color: rgb(95, 104, 184);
}

.btn-container{
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(90, 90, 207);
    color: aliceblue;
    
}

button:hover{
    background-color: rgba(57, 102, 102, 0.815);
}



/* banner section end*/



/* service section start*/


.all-service-container{
    height: 100vh;
    background-color: rgb(117, 119, 121);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  

    

    
}

.logo-1{
    width: 70px;

}

.box-1{
    width: 150px;
    height: 150px;
    background-color: rgb(167, 51, 51);
    text-align: center;
    
    
}

